.accounting__title{
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
    color: #444444;
    padding-bottom: 10px;
}
.accounting__switches{
    display: flex;
    justify-content: space-between;
    width: 253px;
    border-bottom: 1px solid #F2F2F2;
}
.accounting__switch{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    cursor: pointer;
}
.accounting__switch--active{
    border-bottom: 2px solid #2F99CC;
}
.accounting__table-title{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    padding-bottom: 10px;
    padding-top: 24px;
}
.accounting__table-wrap{
    width: 798px;
}
.accounting__table-wrap-cheque{
    width: 428px;
}
.accounting__headline{
    display: flex;
    align-items: center;
    height: 36px;
    background: rgba(47, 153, 204, 0.15);
    border-radius: 3px 3px 0px 0px; 
    padding: 0px 14px;
}
.accounting__text{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}
.accounting__text-number{
    width: 170px;
}
.accounting__text-date{
    width: 139px;
}
.accounting__text-sum{
    width: 159px;
}
.accounting__text-status{
    width: 172px;
}
.accounting__item{
    display: flex;
    align-items: center;
    height: 42px;
    padding: 0px 14px;
    border: 1px solid rgba(255,255,255,0);
    border-bottom: 1px solid #F2F2F2;
    border-radius: 3px;
    
  }
.accounting__item:hover{
    border: 1px solid rgba(47, 153, 204, 0.25);
    box-shadow: 0px 4px 4px rgba(47, 153, 204, .1);
}
.accounting__text-link{
    text-decoration-line: underline;
    color: #2F99CC;
    cursor: pointer;
}
.accounting__text--green{
    color: #4CAE4C;
}
.accounting__text--red{
    color: #D02D42;
}

/* accounting-user */

.accounting__user-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}
.accounting__user-text-span{
    font-weight: 300;
}
.accounting__sum{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 228px;
    margin-top: 10px;
}
.accounting__sum-status{
    background: rgba(76, 174, 76, 0.1);
    border: 1px solid #4CAE4C;
    box-sizing: border-box;
    border-radius: 3px;
    width: 78px;
    height: 26px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #4CAE4C;
    padding: 5px 10px;
}

.acounting__documents{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.acounting__documents--margin{
    margin-bottom: 10px;
}
.accounting__subtitle{
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    color: #444444;
    margin-top: 20px;
}
.acounting__documents-item{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.acounting__documents-item:not(:last-child){
    margin-right: 30px;
}
.acounting__documents-icon{
    margin-right: 7px;
}
.acounting__documents-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}
.acounting__documents-text-unactive{
    color: #999;
}

.accounting__question{
    display: flex;
    align-items: center;
}
.accounting__question span{
    font-size: 14px;
    color: #444444;
    font-weight: bold;
}

.accounting__question-accept{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 15px;
    border: 1px solid #2F99CC;
    box-sizing: border-box;
    border-radius: 3px;
    color: #2F99CC;
    background: none;
    margin-left: 10px;
    
}
.accounting__question-accept:hover{
    border: 1px solid #4BB2E4;
    color: #4BB2E4;
}
.accounting__question-accept:active{
    border: 1px solid #2A6496;
    color: #2A6496;
}
.accounting__question-decline{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 15px;
    color: #444;
    border: 1px solid #444;
    border-radius: 3px;
    background: none;
    margin-left: 10px;
}
.accounting__question-decline:hover{
    border: 1px solid #999;
}

.accounting__question-decline:active{
    border: 1px solid #CECFCF;
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.13);
}

.accounting__send{
    font-size: 14px;
    line-height: 20px;
    color: #999999;
}

.accounting__contacts{}
.accounting__contacts-form{
    padding-top: 15px;
}
.accounting__contacts-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.accounting__contacts-text{
    width: 220px;
    margin-right: 14px;
    font-weight: 300;
    font-size: 14px;
    color: #444;
}
.accounting__contacts-input{
    color: #444;
    width: 320px;
    height: 40px;
    border: 1px solid #CECFCF;
    font-size: 14px;
    border-radius: 3px;
    padding-left: 12px;
    padding-right: 12px;
}
.accounting__contacts-input:focus{
    border: 1px solid #2F99CC;
}
.accounting__contacts-input::placeholder{
    color: #444;
}

.accounting__contacts-input-index{
    width: 92px;
}

.submit-disable{
    position: relative;
    margin-top: 20px;
}
.submit-disable::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
}

.submit-disable-hide::before{
    display: none;
}

.accounting__successful{
    font-size: 14px;
    color: #444;
}
.accounting__successful-text{
    font-weight: 500;
    margin-bottom: 10px;
}
.accounting__successful-status{
    color: #4CAE4C;
}
.accounting__successful-tracking{
    font-weight: 300;
   
}
.accounting__successful-num{
    color: #2F99CC;
    border-bottom: 1px dashed rgba(47,153,204, .5);
    padding-right: 14px;
    position: relative;
    cursor: pointer;
}
.accounting__successful-num:hover{
    border-bottom: 1px dashed rgba(47,153,204, 0);
}
.accounting__successful-num::before{
    content: '';
    position: absolute;
   
    top: -1px;
    right: 0px;
    background-image: url('../images/svg/link-arrow.svg');
    background-repeat: no-repeat;
    width: 9px;
    height: 12px;
}

.accounting__successful-address{
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid #F2F2F2;
    min-width: 613px;
    margin-bottom: 10px;
}

.accounting__successful-address span{
    font-weight: 500;
}

.accounting__text-num{
    width: 210px;
}
.accounting__text-num span{
    color: #2F99CC;
    border-bottom: 1px solid rgba(47,153,204, 1);
    margin-top: 1px;
}
.accounting__text-num span:hover{
    border-bottom: 1px dashed rgba(47,153,204, 0);
}
.statistics__trigger:hover .statistics__trigger-num{
    border-bottom: 1px dashed rgba(47,153,204, 0);
}
.accounting__text-date{
    width: 90px;
}
.accounting__text-organization{
    width: 150px;
}
.accounting__text-price{
    width: 135px;
}
.accounting__text-status{
    width: 145px;
}
.accounting__notification{
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    font-weight: 500;
}

.text--red{
    color: #D02D42;
}
.text--green{
    color: #4CAE4C;
}
.text--gray{
    color: #999;
}
.account__subitems{
    margin-bottom: 20px;
    padding-left: 12px;
}

.accounting__text{
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    margin-bottom: 10px;
}

.dispatch{
    margin-top: 10px;
}
.dispatch__card{
    font-size: 14px;
    color: #444;
    padding: 24px;
    border: 1px solid #CECFCF;
    border-radius: 3px;
    width: 781px;
}
.dispatch__card--active{
    border: 1px solid #4CAE4C;
    border-radius: 3px;
}
.dispatch__card-wrapper{
    display: flex;
    align-items: center;
}
.dispatch__card:not(:last-child){
    margin-bottom: 10px;
}
.dispatch__card-item:not(:last-child){
    margin-right: 20px;
}
.dispatch__card-number{
    color: #2F99CC;
    border-bottom: 1px solid rgba(47,153,204, .5);
    padding-top: 1px;
    cursor: pointer;
}
.dispatch__card-number:hover{
    border-bottom: 1px solid rgba(47,153,204, 0);
}
.dispatch__card-seal{
    font-weight: 500;
    color: #2F99CC;
    border-bottom: 1px dashed rgba(47,153,204, .5);
    cursor: pointer;
    padding-right: 24px;
    position: relative;
}
.dispatch__card-send{
    padding: 6px 10px 5px 10px;
    color: #4CAE4C;
    border: 1px solid #4CAE4C;
    border-radius: 3px;
    background: rgba(76, 174, 76, 0.1);
}
.dispatch__card-seal:hover{
    border-bottom: 1px dashed rgba(47,153,204, 0);
}
.dispatch__card-seal::before{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../images/svg/printer-icon.svg');
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
}

.dispatch__number{
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    color: #444;
}
.dispatch__number-text{
    font-weight: 500;
}
.dispatch__number-input{
    position: relative;
    margin-left: 5px;
    
}
.dispatch__input{
    border-bottom: 1px dashed rgba(47,153,204, .5);
    padding-bottom: 1px;
    padding-top: 1px;
    color: #444;
}

.dispatch__number-input::before{
    content: '';
    position: absolute;
    top: 49%;
    right: -23px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../images/svg/pencil.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.dispatch__save{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

