*{
  padding: 0;
  margin: 0;
  
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: MuseoSansCyrl;
}


ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.hide{
  display: none!important;
}
.opacity{
  opacity: .5 !important;
}
.visibility{
  visibility: hidden;
}

.container{
  width: 1140px;
  margin: auto;
}

.page{
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
}

.input-error{
  border: 1px solid #D02D42!important;
}

.input-error-text{
  color: #D02D42!important;
  opacity: 0;
}

.input-error-text--active{
  opacity: 1;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
    -webkit-text-fill-color: #444 !important; /* цвет текста */
    color: #444 !important; /* цвет текста */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:focus::placeholder{
  opacity: 0;
}
/* ::-webkit-scrollbar{
  background-color: #F2F2F2;
  width: 14px;
}::-webkit-scrollbar-thumb{
  width: 10px;
  height: 14px;
  background-repeat: no-repeat;
  background-color: #E0E0E0;
}
::-webkit-scrollbar-thumb {max-height: 20px; height: 20px;} */