/* === common ===*/
/* .hide{
  display: none!important;
} */

.show{
  display: block;
}


/* === lk__nav ===*/
.lk{
  font-family: MuseoSansCyrl;
}

.lk__nav{
  margin-top: 10px;
  margin-bottom: 10px;
}

.lk__nav-list{
  display: flex;
  align-items: center;
}

.lk__nav-item{}

.lk__nav-item:not(:last-child){
  margin-right: 40px;
}

.lk__nav-link{
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #2F99CC;
}

.lk__nav-link--current{
  color: #444444;
}
.lk__nav-link:hover{
  color: #444444;
}



/* === settings__company ===*/
.settings__company{
  font-family: MuseoSansCyrl;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.settings__company-target{
  justify-content: space-between;
}

.settings__company-item{
  height: 20px;
  min-width: 10px;
  position: relative;
}

.settings__company-item span{
  outline: none;
  border-bottom: 1px dashed rgba(47,153,204, .5);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #2F99CC;
  width: 90px;
  height: 20px;
}

.settings__company-item input::placeholder{
  color: #2F99CC; 
}

.settings__company-item p:hover{
  border-bottom: 1px solid #fff;
}

.settings__company-item:not(:last-child){
  margin-right: 40px;
}

.settings__company-item::before{
  content: '';
  position: absolute;
  right:-20px;
  top:45%;
  transform: translateY(-50%);
  background-image: url('../images/svg/pencil.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

/* === settings__dropdown === */
.settings__dropdown{
  padding-bottom: 10px;
  position: relative;
  /* z-index: -1; */
}

/* для теста */


.settings__dropdown-disable{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255, 0.7);
  

}
.settings__dropdown-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.settings__dropdown-number{
  font-family: MuseoSansCyrl;
  color: #444444;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  margin-right: 20px;
  width: 24px;
  height: 24px;
  border: 2px solid #444444;
  border-radius: 100%;
}

.settings__dropdown-number-done{
  border: none;
}

.settings__dropdown-title{
  color: #444444;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  margin-right: 7px;
}

.settings__dropdown-arrow{
  transform: rotate(180deg);
  /* transition: all .1s ease-in; */
}
.settings__dropdown-arrow--active{
  transform: rotate(0deg);
}

/* === settings__payer === */
.settings__payer--hide{
  
}

.settings__tab{
  /* display: none; */
}

.settings__tab--display{
  display: block;
}

.tab-hide{
  /* display: none!important; */
}

.settings__tab--show{
  display: block;
}

/* === form__payer === */
.dropdown-payer{
  max-width: 200px;
  cursor: pointer;
}

.form__payer{
  height: auto;
}

.form__payer-wrapper{
  margin-bottom: 10px;
  margin-left: 50px;
  
}

.form__payer-radio{
  font-family: MuseoSansCyrl;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #444444;
}

.form__payer-radio:not(:last-child){
  margin-bottom: 7px;
}

.form__payer-radio input{
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  background-image: url('../images/svg/unchecked-radio.svg');
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.form__payer-radio input:checked{
  background-image: url('../images/svg/checked-radio.svg');
}

.form__payer-radio input:not(:checked):hover{
  background-image: url('../images/svg/hover-radio.svg');
}


.form__payer-contract{
  margin-left: 50px;
  display: flex;
}

.form__payer-contract{
  margin-left: 50px;
}

.form__payer-contract--form{
  margin-left: 0px;
  transform: translateY(-80px);
}

.form__payer-checkbox{
  display: flex;
  align-items: center;
  cursor: pointer;
 
}

.form__payer-checkbox input{
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  background-image: url('../images/svg/unchecked-checkbox.svg');
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.form__payer-checkbox input:checked{
  background-image: url('../images/svg/checked-checkbox.svg');
}

.form__payer-checkbox input:not(:checked):hover{
  background-image: url('../images/svg/hover-checkbox.svg');
}

.form__payer-checkbox-text{
  font-weight: 300;
  font-size: 14px;
  color: #2F99CC;
  border-bottom: 1px dashed rgba(47,153,204, .5);
  cursor: pointer;
  padding-top: 3px;
}

.form__payer-checkbox-text:hover{
  border-bottom: 1px dashed rgba(47,153,204, 0);
}

.form__payer-btn{
  margin-top: 11px;
  margin-left: 50px;
  position: relative;
  display: inline-block;
}

.button--gray{
  color: #444;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  background: none;
  border: 1px solid #CECFCF;
  border-radius: 3px;
  padding: 11px 15px 11px 47px;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.form__payer-btn:hover .button--gray{
  border: 1px solid #999999;
}

.button--gray:active{
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.13);

}

.form__payer-btn:hover .svg--gray{
  fill: #999;
}

.form__payer-btn:active .svg--gray{
  fill: #CECFCF;
}
/* .form__payer-btn button::before{
  content: '';
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('../images/svg/add-company.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 23px;
  height: 23px;
} */

/* === addcompany === */
.form__payer-addcompany{
  /* display: none; */
}

.addcompany{
  padding: 24px 24px;
  margin-top: 20px;
  border: 1px solid #CECFCF;
  border-radius: 3px;
}

.addcompany--show{
  display: block;
}


.addcompany__title{
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #444;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.addcompany__title-close{
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #2F99CC;
  border-bottom: 1px dashed rgba(47,153,204, .5);
  cursor: pointer;
  transform: translateY(2px);
  margin-left: 10px;
  padding-top: 2px;
}

.addcompany__title-close:hover{
  border-bottom: 1px dashed rgba(47,153,204, 0);
}



.addcompany__wrapper{
  display: flex;
  justify-content: space-between;
}


.addcompany__form{

}

.addcompany__form-input{
  display: flex;
  align-items: center;
  
}

.addcompany__form-input:not(:last-child){
  margin-bottom: 12px;
}


.addcompany__form-title{
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #444;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.addcompany__form-info{
  position: relative;
  margin-left: 26px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addcompany__form-info::before{
  content: '';
  position: absolute;
  background-image: url('../images/svg/help.svg') ;
  background-repeat: no-repeat;
  right: 0px;
  top: 50%;
  transform: translate(95%, -38%);
  width: 370px;
  height: 100px;
  display: none ;
}

.addcompany__form-info::after{
  content: 'Контактная информация может понадобиться в случае отсутствия целевой страницы у вас на сайте';
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(108%, -50%);
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #444;
  width: 310px;
  display: none;
}

.addcompany__form-info:hover::before{
  display: block;
}

.addcompany__form-info:hover::after{
  display: block;
}

.addcompany__form-input input{
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #444;
  outline: none;
  border: 1px solid #CECFCF;
  border-radius: 3px;
  padding: 10px 12px;
}

.addcompany__form-input input::placeholder{
  color: #444;
}

.addcompany__form-inn{
  width: 110px;
}

.addcompany__form-nameCompany{
  width: 273px;
}

.addcompany__form-address{
  width: 337px;
}
.addcompany__form-address-admin{
  width: 315px;
}

.addcompany__form-kpp{
  width: 88px;
}

.addcompany__form-ogrn{
  width: 143px;
}


.addcompany__form-bik{
  width: 103px;
}

.addcompany__form-bank{
  width: 273px;
}

.addcompany__form-ksch{
  width: 155px;
}

.addcompany__form-rsch{
  width: 273px;
}

.addcompany__form-email{
  width: 170px;
}

.addcompany__form-phone{
  width: 150px;
}

.addcompany__form-office{
  width: 304px;
}

.addcompany__form-about{
  resize: none;
  width: 80%;
  min-height: 110px;
  border: 1px solid #CECFCF;
  border-radius: 3px;
  outline: none;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #444;
}
.addcompany__form-about::placeholder{
  color: #444;
}


.addcompany__form-name{
  width: 157px;
  margin-right: 14px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.addcompany__form-textarea{
  align-self: flex-start;
}
.addcompany__form-company{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-left: 14px;
  margin-right: 14px;
  
}

.addcompany__form-help{
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #2F99CC;
  border-bottom: 1px dashed rgba(47,153,204, .5);
  cursor: pointer;
  transform: translateY(2px);
}

.addcompany__form-help:hover{
  border-bottom: 1px dashed rgba(47,153,204, 0);
}

.addcompany__entity{
  width: 48%;
  margin-bottom: 20px;
}
.addcompany__entity-admin {
  
}
.addcompany__bank{
  width: 48%;
  margin-bottom: 20px;
}

.addcompany__contacts{
  padding-top: 24px;
  border-top: 1px solid #F2F2F2;
}
.addcompany__contacts-admin{
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  border: none;
  border: 1px solid #CECFCF;
}

/* === controlls === */

.settings__payer-controlls{
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
.settings__payer-controlls-admin{
  margin-top: 10px;
}
.settings__payer-controlls-target{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 46px;
}

.settings__payer-controlls--margin{
  margin-top: 10px;
}

.settings__payer-button{
  position: relative;
}

.settings__payer-button:not(:last-child){
  margin-right: 15px;
}

.settings__payer-button button{
  padding: 11px 15px 11px 44px;
  border-radius: 3px;
  background: none;
  outline: none;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}


.settings__payer-button:hover .svg--gray{
  fill: #999;
}

.settings__payer-button:active .svg--gray{
  fill: #CECFCF;
}

.settings__payer-button:hover .svg--blue{
  fill: #4BB2E4;
}

.settings__payer-button:active .svg--blue{
  fill: #2A6496;
}

.settings__payer-button:hover .button--gray:active{
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.13);
  border: 1px solid #CECFCF;
}

.form__payer-btn:hover .button--gray:active{
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.13);
  border: 1px solid #CECFCF;
}

.settings__payer-button-cancel button{
  
  text-align: left;
}

.button-close{
  border: 1px solid #CECFCF;
  border-radius: 3px;
  color: #444;
  position: relative;
}

.button-close:hover{
  border: 1px solid #999;
}



.button-save{
  border: 1px solid #2F99CC;
  color: #2F99CC;
}

.button-save:active{
  border: 1px solid #2A6496;
  color: #2A6496;
}

.button-save-admin{
  padding: 12px 15px 12px 44px;
  background: none;
  border-radius: 3px;
}

.svg--blue{
  width: 23px;
  height: 23px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  fill: #2F99CC;
  
}

.button-save:hover{
  border: 1px solid #4BB2E4;
  color: #4BB2E4;
}

.button-save:active{
  border: 1px solid #2A6496;
  color: #2A6496;
}

.button-save::before{
  background-image: url('../images/svg/btn-save.svg');
}

/* .button-save:hover::before{
  background-image: url('../../images/svg/btn-save-hover.svg');
} */

.button-save:active::before{
  background-image: url('../images/svg/btn-save-active.svg');
}


.button-save{
  
}

.button-load{
  border: 1px solid #2F99CC;
  color: #2F99CC;
  z-index: 1;
}
.button-load:hover{
  
  border: 1px solid #4BB2E4;
  color: #4BB2E4;
}
.button-load:active{
  border: 1px solid #2A6496;
  color: #2A6496;
  
}

.button-load::before{
  background-image: url('../images/svg/btn-load.svg');
}

/* .button-load:hover::before{
  background-image: url('../../images/svg/btn-load-hover.svg');
} */

.button-load:active::before{
  background-image: url('../images/svg/btn-load-active.svg');
}

/* === upload === */
.settings__upload{
  display: block!important;
}
.settings__upload-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
  padding-top: 0px;
}
.settings__upload-icon svg{
  width: 20px;
  height: 20px;
}

.settings__upload-preview{
  display: flex;
  align-items: center;
  padding-top: 1px;
  position: relative;
}
.settings__upload-preview span{
  border-bottom: 1px dashed rgba(47,153,204, 0);
  
}

.settings__upload-dropdown{
  position: relative;
}

.settings__upload-dropdown-text{
  
  
}
.settings__upload-dropdown-text:hover{
  
}

.settings__upload-form{
  margin-bottom: 20px;
  margin-left: 46px;
}

.settings__upload-form-return{
  margin-left: 0px;
  margin-bottom: 18px;
}

.settings__upload-file {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.settings__upload-file-return{
  margin-right: 15px;
  font-size: 14px;
}

.settings__upload-file input{
  visibility: hidden;
  position: absolute;
}

.settings__upload-file label{
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
  color: #444;
  background: none;
  padding: 10px 15px;
  padding-top: 11px;
  border: 1px solid #CECFCF;
  border-radius: 3px;
  cursor: pointer;
}

.settings__upload-file label:hover{
  border: 1px solid #999;
}



.settings__upload-file label:active{
  border: 1px solid #CECFCF;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.13);
}

.settings__upload-text{
  margin-left: 10px;
  font-size: 14px;
}
.settings__upload-text-return{
  margin-left: 0;
  margin-right: 15px;
}
.settings__upload-text-banner{
  width: 170px;
}
.settings__upload-button {
  width: 125px;
  position: relative;
}
.settings__upload-button-return{
  margin-right: 15px;
}

.button-upload{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 15px 10px 44px;
  color: #2F99CC;
  background: none;
  border: 1px solid #2F99CC;
  border-radius: 3px;
  position: relative;
}

.settings__upload-button:hover .button-upload{
  color: #4BB2E4;
  border: 1px solid #4BB2E4;
  
}

.settings__upload-button:active .button-upload{
  color:#2A6496;
  border: 1px solid #2A6496
  
}


.settings__upload-button .svg--blue{
  stroke:  #2F99CC;
  fill: #2F99CC;
}

.settings__upload-button:hover .svg--blue{
  fill: #4BB2E4;
  stroke:  #4BB2E4;
}

.settings__upload-button:active .svg--blue{
  fill: #2A6496;
  stroke:   #2A6496;
}


.path-blue{
  fill: #2F99CC;
}



.settings__upload-button button::before{
  /* content: '';
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 24px;
  height: 19px;
  background-image: url('../images/svg/upload-icon.svg');
  background-repeat: no-repeat;
  background-position: none; */
}

.settings__upload-content{
  border: 1px solid #CECFCF;
  border-radius: 3px;
  padding: 30px;
  margin-left: 46px;
}

.settings__upload-content-text{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #444;
  margin-bottom: 10px;
}

.settings__upload-content-image{
  width: 100%;
}

.settings__upload-content-image img{
  width: 100%;
}


/* === upload-done ===*/

.upload{
  padding-left: 46px;
}

.upload--padding{
  padding-left: 0;
  padding-right: 46px;
}
.upload-admin{
  padding-left: 0;
}
.dropdown-products{
  width: 150px;
  cursor: pointer;
}
.upload__target{
  padding-left: 0px;
}
.upload__title{
  font-family: MuseoSansCyrl;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 10px;
  color: #444444;
  font-weight: 500;
}
.upload__content{
 
  box-sizing: border-box;
  padding: 25px 25px 29px 25px;
  border: 1px solid #CECFCF;
  border-radius: 3px;
  margin-bottom: 20px;
}
.upload__content-admin{
  border: none;
  padding: 0;
  padding-bottom: 10px;
}
.upload__content-target{
  margin-right: 46px;
}
.upload__wrapper{
  overflow: auto;
  height: 352px;
}
/* .upload__wrapper::-webkit-scrollbar{
  background-color: #F2F2F2;
  width: 14px;
}
.upload__wrapper::-webkit-scrollbar-thumb{
  background-image: url('../images/svg/scroll.svg');
  width: 10px;
  height: 14px;
  background-repeat: no-repeat;
  background-color: #E0E0E0;
}
 */

.upload__content-headline{
  display: flex;
  align-items: center;
  height: 36px;
  background: rgba(47, 153, 204, 0.15);
  border-radius: 3px 3px 0px 0px; 
  padding: 0px 43px;
}
.upload__item{
  display: flex;
  align-items: center;
  height: 46px;
  border: 1px solid rgba(255,255,255,0);
  border-bottom: 1px solid #F2F2F2;
  border-radius: 3px;
}
.upload__item-del{
  opacity: .6;
}
.uplaod__item-action{
  width: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* visibility: hidden; */
}
.uplaod__item-action-subitem{
  width: 53px;
}


.uplaod__item-action-del{
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-image: url('../images/svg/circle-close.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.uplaod__item-action-active{
  visibility: visible;
}

.uplaod__item-action-del:checked{
  background-image: url('../images/svg/AddPlus.svg');
}

.upload__subitem{
  
}
.upload__item:hover{
  border: 1px solid rgba(47, 153, 204, 0.25);
  box-shadow: 0px 4px 4px rgba(47, 153, 204, .1);
}
.upload__item:hover  .uplaod__item-action {
  visibility: visible;
}


.upload__text{
  font-weight: 300;
  font-size: 14px;
  color: #444444;
  padding-top: 1px;
  /* height: 19px; */
}
.upload__text--bold{
  font-family: MuseoSansCyrl;
  font-weight: 500;
}
.upload__text-name{
  width: 255px;
}
.upload__text-subname{
  width: 245px;
}
.upload__text-price{
  width: 145px;
}
.upload__text-url{
  width: 303px;
  margin-right: 120px;
}
.upload__text-url a{
  color: #444;
}
.upload__text-status{
  cursor: pointer;
  position: relative;
}

.upload__text-status:hover .status__info{
  display: block;
}

.upload__text-status-info{
  /* position: absolute;
  max-width: 326px;
  background: #fff;
  border: 1px solid #CECFCF;
  border-radius: 3px;
  box-shadow: 0px 12px 12px rgba(68, 68, 68, 0.08), 0px 16px 24px rgba(68, 68, 68, 0.08); */
}

.status__error{
  color: #D02D42;
  border-bottom: 1px dashed rgba(208,45,66, .5);
  padding-top: 1px;
}
.status__error:hover{
  border-bottom: 1px dashed rgba(208,45,66, 0);
}
.status__double{
  color: #D02D42;
  border-bottom: 1px dashed rgba(208,45,66, .5);
  padding-top: 1px;
}
.status__double:hover{
  border-bottom: 1px dashed rgba(208,45,66, 0);
}
.status__bind{
  padding-top: 1px;
  border-bottom: 1px dashed rgba(68,68,68, .5);
}
.status__bind:hover{
  border-bottom: 1px dashed rgba(68,68,68, 0);
}
.status__info{
  position: absolute;
  top: -60px;
  left: -55px;
  width: 200px;
  padding: 7px;
  background: #FFFFFF;
  border: 1px solid #CECFCF;
  border-radius: 3px;
  box-shadow: 0px 12px 12px rgba(68, 68, 68, 0.08), 0px 16px 24px rgba(68, 68, 68, 0.08);
  z-index: 1;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #444444;
  display: none;
}

.status__info-double{
  top: -75px;
}
.status__info::before{
  content: '';
  position: absolute;
  left: 30%;
  bottom: 0%;
  transform: translate(0%, 55%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #CECFCF;
  border-right: 1px solid #CECFCF;
  background-color: #fff;
}
.status__info:hover{
  display: none;
}
/* === undefined === */
.upload__undefined{}
.upload__undefined-target{
  margin-right: 46px;
}
.undefined__title{
  font-family: MuseoSansCyrl;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 10px;
  color: #444444;
  font-weight: 500;
}
.undefined__content{
  padding: 25px 25px 29px 25px;
  border: 1px solid #CECFCF;
  border-radius: 3px;
  margin-bottom: 20px;
}
.undefined__content-admin{
  border: none;
  padding: 0;
  padding-bottom: 10px;
}
.undefined__wrapper{
 height: 352px;
  overflow: auto;
}
.undefined__content-headline{
  display: flex;
  align-items: center;
  height: 36px;
  background:rgba(208, 45, 66, 0.15);
  border-radius: 3px 3px 0px 0px; 
  padding: 0px 0px;
}
.undefined__item{
  display: flex;
  align-items: center;
  height: 46px;
  border: 1px solid rgba(255,255,255,0);
  border-bottom: 1px solid #F2F2F2;
  border-radius: 3px;
}
.undefined__text{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  padding-top: 1px;
}
.undefined__text-number{
  width: 43px;
  text-align: center;
}
.undefined__text-name{
  width: 255px;
}
.undefined__text-price{
  width: 145px;
}
.undefined__text-url a{
  color: #444
}


/*=== upload error === */
.upload__error{
  padding-left: 32px;
}
.upload__error-text{
  margin-bottom: 18px;
  font-size: 14px;
}
.upload__error-notify{
  position: relative;
}
.upload__error-notify::before{
  content: '';
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url('../images/svg/notification.svg') ;
  background-repeat: no-repeat;
  left: -32px;
  top: 50%;
  transform: translateY(-50%)
}

.upload__error-link{
  font-weight: 300;
  font-size: 14px;
  color: #2F99CC;
  border-bottom: 1px solid rgba(47,153,204, .5);
  padding-top: 1px;
  position: relative;
  cursor: pointer;
}

.upload__error-link:hover{
  border-bottom: 1px solid rgba(47,153,204, 0);
}

.upload__error-link::before{
  content: '';
  position: absolute;
  top: calc(50% + 1px);
  transform: translateY(-50%);
  right:-13px;
  background-image: url('../images/svg/link-arrow.svg');
  background-repeat: no-repeat;
  width: 9px;
  height: 15px;
}
.upload__error-download:before{
  transform: translateY(-50%) rotate(90deg);
}
/* === settings__done === */

.settings__upload-done{}


/* === showtime === */
.showtime{
  margin-bottom: 20px;
}
.showtime__title{
  font-family: MuseoSansCyrl;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  color: #444444;
  margin-bottom: 13px;
  margin-left: 46px;
}
.showtime__title-target{
  margin-left: 0px;
  margin-right: 46px;
}

.showtime__content{
  display: flex;
  padding: 25px;
  border: 1px solid #CECFCF;
  border-radius: 3px;
  margin-left: 47px;
  margin-bottom: 20px;
}
.showtime__content-error{
  border: 1px solid #D02D42;
}
.showtime__content-target{
  margin-left: 0px;
  margin-right: 46px;
}
.showtime__content-admin{
  margin-right: 0px;
  margin-left: 0px;
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

.showtime__hours{
  display: flex;
  margin-left: 26px;
  margin-bottom: 10px;
}

.showtime__hours-label{
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #444;
  cursor: pointer;
}
.showtime__hours-label-all{
  margin-right: 10px;
}
.showtime__hours-label-all span{
  opacity: 0;
}

.showtime__hours-label span{
  text-align: center;
}

.showtime__hours-checkbox{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #CECFCF;  
  outline: none;
  cursor: pointer;
}

.showtime__hours-checkbox:checked{
  background-image: url('../images/svg/showtime-checked.svg');
  border: none;
}

.showtime__hours-checkbox:not(:checked):hover{
  background-image: url('../images/svg/hover-checkbox.svg');
  border: none;
}

.showtime__days{
  margin-right: 10px;
}

.showtime__days-label{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 46px;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #444;
  cursor: pointer;
}

.showtime__days-checkbox{
  display: block;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #CECFCF;
  outline: none;
  cursor: pointer;
}

.showtime__days-checkbox:checked{
  background-image: url('../images/svg/showtime-checked.svg');
  border: none;
}

.showtime__days-checkbox:not(:checked):hover{
  background-image: url('../images/svg/hover-checkbox.svg');
  border: none;
}

.showtime__container{
  display: flex;
}

.showtime__wrapper{
  display: flex;
  margin-bottom: 5px;
}

.showtime__elements{
  margin-right: 20px;
}

.showtime__elements-checkbox{
  display: block;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #CECFCF;
  border-radius: 2px;
  margin-right: 5px;
  outline: none;
  cursor: pointer;
}

.showtime__elements-checkbox:active{
  
}

.showtime__elements-checkbox:hover{
  border: 1px solid #999999;
  background: #F2F2F2;
}

.showtime__elements-checkbox--active{
  border: 1px solid #999999;
}

.showtime__elements-checkbox:checked{
  border: 1px solid #2F99CC!important;
  background-color: #2F99CC;
}

/* === timezone === */
.timezone{
}
.timezone__zone{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.timezone__zone-admin{
  margin-bottom: 0px;
}
.timezone__zone-title{
  font-family: MuseoSansCyrl;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #444;
  margin-right: 2px;
}
.timezone__zone-text{
  font-size: 14px;
  color: #444;
}
.timezone__zone-input{
  position: relative;
}
.timezone__zone-input input{
  width: 145px;
  position: relative;
}
.timezone__zone-input::before{
  
}

/* ************ */
.timezone__show-admin{
  display: flex;
  align-items: center;
}
.timezone__show-title{
  font-family: MuseoSansCyrl;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.timezone__show-title-admin{
  display: inline;
}
.timezone__show-wrapper{
  display: flex;
  justify-content: space-between;
}
.timezone__show-days{
  width: 153px;
}
.timezone__show-days-label{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.timezone__show-days-label input{
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 20px;
  height: 20px;
  background-image: url('../images/svg/unchecked-radio.svg');
  cursor: pointer;
  margin-right: 7px;
  position: relative;
}

.timezone__show-days-label input:not(:checked):hover{
  background-image: url('../images/svg/hover-radio.svg');
}

.timezone__show-days-label input:checked{
  background-image: url('../images/svg/checked-radio.svg');
}
.timezone__show-days-label-checkbox{
  margin-top: 10px;
}
.timezone__show-days-label-checkbox span{
  margin-top: 1px
}
.timezone__show-days-label-checkbox input{
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 20px;
  height: 20px;
  background-image: url('../images/svg/unchecked-checkbox.svg');
  cursor: pointer;
  margin-right: 7px;
  position: relative;
}

.timezone__show-days-label-checkbox input:not(:checked):hover{
  background-image: url('../images/svg/hover-checkbox.svg');
}
.timezone__show-days-label-checkbox input:checked{
  background-image: url('../images/svg/checked-checkbox.svg');
}
.timezone__show-days-label span{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #444;
}
/* ************ */
.timezone__show-hours-label{
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.timezone__show-hours-label:first-child{
  margin-bottom: 10px;
}
.timezone__show-hours-label input{
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 20px;
  height: 20px;
  background-image: url('../images/svg/unchecked-radio.svg');
  cursor: pointer;
  margin-right: 7px;
  cursor: pointer;
}
.timezone__show-hours-label input:not(:checked):hover{
  background-image: url('../images/svg/hover-radio.svg');
}
.timezone__show-hours-label input:checked{
  background-image: url('../images/svg/checked-radio.svg');
}
.timezone__show-hours-label span {}
/* ************ */
.timezone__show-range{
  display: flex;
  margin-left: 27px;
}
.timezone__show-range-wrapper{
  display: flex;
  align-items: center;
  position: relative;
}
.timezone__show-range-wrapper::before{
  /* content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: -2px;
  transform: translateY(-50%);
  width: 20px;
  height: 25px;
  background-image: url('../images/svg/pencil.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #fff; */
}
.timezone__show-range-wrapper{
  margin-right: 12px;
}
.timezone__show-range-wrapper:not(:first-child){
  
}

.timezone__show-range span{
  margin-right: 7px;
  margin-bottom: 4px;
}

.timezone__show-range input{
  width: 38px;
  position: relative;
  font-size: 14px;
}

.timezone__show-range input::before{
  position: absolute;
}

.timezone__input-change{
  font-family: MuseoSansCyrl;
  -webkit-appearance: none;
  border: none;
  outline: none;
  font-weight: 300;
  font-size: 14px;
  border-bottom: 1px dashed rgba(47,153,204, .5);
  color: #444;
  cursor: pointer;
}


.timezone__zone-input::before{
 
}
.timezone__input-change--pad{
  padding-top: 0;
}

.timezone__input-change::placeholder{
  color: #444;
}
.timezone__input-change:focus::placeholder{
  opacity: 0;
}
.select{
  overflow: hidden;
  padding-right: 20px;
  border-bottom: none;
  padding-top: 4px;
  border-bottom: 1px dashed rgba(47,153,204, .5);
  
}

/* === region === */
.region{
  margin-bottom: 20px;
  
}
.region-close{
  position: absolute;
  right: 12px;
  top: 14px;
  width: 12px;
  height: 12px;
  background-image: url('../images/svg/close.svg');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.fixed-wrapper{
  display: flex;
  justify-content: flex-end;
}
.region-save{
  display: inline-block;
  background: #fff;
  z-index: 999;
}
.company-save{
  display: inline-block;
  background: #fff;
  z-index: 999;
}
.region__link{
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.region__headline{
  font-size: 20px;
  line-height: 32px;
  color: #444444;
  margin-bottom: 10px;
  font-weight: 500;
}
.region__link--margin{
  margin-bottom: 10px;
}
.region__link--statistics{
  margin-bottom: 3px;
}
.region__link-title{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px dashed rgba(47,153,204, .5);
  cursor: pointer;
  position: relative;
  margin-right: 24px;
  height: 19px;
}


.region__link-title:hover{
  border-bottom: 1px dashed rgba(47,153,204, 0);
}
.region__link-title::before{
  content: '';
  position: absolute;
  top: 50%;
  right: -19px;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  background-image: url('../images/svg/pencil.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.region__link-title-admin{
  border: none;
  cursor: default;
}
.region__link-title-admin::before{
  display: none
}

.region__content{
  
}


.dropdown-region{
  width: 170px;
  cursor: pointer;
}

.region__container{
  margin-left: 47px;
  padding: 25px;
  margin-bottom: 20px;
  border: 1px solid #CECFCF;
}

.region__container-error{
  border: 1px solid  #D02D42;
}

.region__wrapper{
  padding: 16px 16px;
  border: 1px solid #CECFCF;
  height: 300px;
  overflow: auto;
}
.region__wrapper-dropdown{
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 19px;
  width: 451px;
  height: 288px;
  border: 1px solid #2F99CC;
  background-color: #fff;
  z-index: 15;
  
}

.region__wrapper input{
  /* margin-left: 14px; */
}

.region__title{
  font-family: MuseoSansCyrl;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  color: #444444;
  margin-bottom: 10px;
  margin-left: 46px;
  font-weight: 500;
}

.region__title-target{
  margin-left: 0px;
}

.region__search{
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.region__search::before{
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 19px;
  height: 20px;
  background-image: url('../images/svg/search.svg');
  background-repeat: no-repeat;
  
}

.region__search input{
  width: 100%;
  border: 1px solid #2F99CC;
  border-radius: 3px;
  height: 38px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  padding-left: 10px;
}

.region__search input:focus::placeholder{
  opacity: 0;
}

.region__select{

}

.region__select-arrow{
  transform: rotate(-90deg);
  margin-right: -7px;
}
.region__select-arrow--active{
  transform: rotate(0deg);
}
.region__select-arrow_2{
  transform: rotate(-90deg);
  margin-right: -7px;
}
.region__select-arrow_2--active{
  transform: rotate(0deg);
}
.region__select-arrow--city{
  transform: rotate(-90deg);
  margin-right: -7px;
}

.region__select-value{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #999999;
}

.region__select-title{
  font-family: MuseoSansCyrl;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #444444;
}

.region__select-title-region{
  width: 611px;
  margin-left: 47px;
}
.region__select-title-region-dropdown{
  margin-left: 42px;
}

.region__select-country-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.region__select-country label{
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 642px;
  font-size: 14px;
}


.region__input{
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 10px;
  height: 10px;
  background-image: url('../images/svg/arrow-region.svg');
  cursor: pointer;
  margin-right: 7px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(-90deg);
}

/* .region__input:not(:checked):hover{
  background-image: url('../images/svg/hover-checkbox.svg');
} */

.region__input:checked{
  transform: rotate(0deg);
}

.region__select-district{
  margin-left: 20px;
  font-size: 14px;
  display: none;
}
.region__select-district-wrapper{
 display: flex;
 align-items: center;
 margin-bottom: 10px;

}
.region__select-district label{
  width: 622px;
}

.region__select-city{
  margin-left: 20px;
  display: none;
  font-size: 14px;
 
}
.region__select-city-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.region__select-city label{
  width: 602px;
}

.cities{
  margin-left: 20px;
}
.cities-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 17px;
  
}
.cities-wrapper label{
  width: 582px;
}


.input-toggle{

}
.checkbox-toggle{ 
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  background-image: url('../images/svg/unchecked-checkbox.svg');
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.checkbox-toggle:checked{
  background-image: url('../images/svg/checked-checkbox.svg');
}

.checkbox-toggle:not(:checked):hover{
  background-image: url('../images/svg/hover-checkbox.svg');
}
/* === media quires=== */

/* === strategy === */
.strategy{
  padding-left: 46px;
}
.strategy__target{
  padding-left: 0px;
}
.strategy__title{
  font-family: MuseoSansCyrl;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  color: #444444;
  margin-bottom: 13px;
}

.strategy__wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.strategy__data-text{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}


.strategy__data label{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 8px;
}

.strategy__day{
  margin-bottom: 10px;
}

.strategy__day-range{
  position: relative;
}

.strategy__day-range::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  background-image: url('../images/svg/pencil.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.strategy__day-alarm{
  margin-left: 27px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #999999;
}

.strategy__day-alarm input{ 
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  background-image: url('../images/svg/unchecked-checkbox.svg');
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.strategy__day-alarm input:checked{
  background-image: url('../images/svg/checked-checkbox.svg');
}

.strategy__day-alarm input:not(:checked):hover{
  background-image: url('../images/svg/hover-checkbox.svg');
}

.strategy__company{

}

.strategy__company-range{
  position: relative;
}

.strategy__company-range::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  background-image: url('../images/svg/pencil.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.strategy__data-range{
  border: none;
  outline: none;
  font-weight: 300;
  font-size: 14px;
  border-bottom: 1px dashed rgba(47,153,204, .5);
  color: #444;
  width: 35px;
  margin-right: 24px;
  padding-top: 5px;
  margin-bottom: 1px;
}
.strategy__data-range::placeholder{
  color: #444;
}

.strategy__data-range:focus::placeholder{
  opacity: 0;
}

.strategy__data-range--2{
  width: 43px;
  margin-bottom: 1px;
  padding-top: 5px;
}

.strategy__data-radio{
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 20px;
  height: 20px;
  background-image: url('../images/svg/unchecked-radio.svg');
  cursor: pointer;
  margin-right: 7px;
  cursor: pointer;
}

.strategy__data-radio:not(:checked):hover{
  background-image: url('../images/svg/hover-radio.svg');
}

.strategy__data-radio:checked{
  background-image: url('../images/svg/checked-radio.svg');
}
.settings__payer-button--textalign{
  text-align: right;
  width: 210px;
  margin-left: auto;
}
.settings__showtime-button--textalign{
  text-align: right;
  width: 132px;
  margin-left: auto;
}

.settings__payer-button--width{
  width: 250px;
}
.settings__payer-button--accounting{
  width: 270px;
}
/* === modal === */
.modal-contract{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
.modal-contract__content{
 
  padding: 34px 90px 34px 100px;
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin:  auto;
  position: relative;
  
}
.modal-contract__close{
  position: absolute;
  top: 17px;
  right: 17px;
  cursor: pointer;
}
.modal-contract__title{
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 26px;
  color: #444;
}
.modal-contract__wrapper{}
.modal-contract__text{
  width: 550px;
  height: 76vh;
  overflow: auto;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #444;
}
.modal-contract__text p{
  margin-bottom: 15px;
  padding-right: 5px;
}
.modal-contract__text h3{
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}


.addcompany input:focus {
  border: 1px solid #2F99CC;
  box-sizing: border-box;
}

.addcompany input:focus::placeholder {
  opacity: 0;
}



.addcompany textarea:focus {
  border: 1px solid #2F99CC;
  box-sizing: border-box;
}

input[type=radio]{
  border: none;
} 

.addcompany textarea:focus::placeholder {
  opacity: 0;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.svg--gray{
  width: 23px;
  height: 23px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  fill: #CECFCF;
}

/* === banner settings ===*/
.banner{}
.banner__settings{}
.banner__upload{}
.banner__upload-mobile{
  margin-bottom: 10px;
}
.banner__upload-label{
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 370px;
  font-size: 14px;
}
.banner__upload-label input{
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  background-image: url('../images/svg/unchecked-checkbox.svg');
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.banner__upload-label input:checked{
  background-image: url('../images/svg/checked-checkbox.svg');
}
.banner__upload-label input:not(:checked):hover{
  background-image: url('../images/svg/hover-checkbox.svg');
}

.banner__title{
  font-family: MuseoSansCyrl;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #444444;
  margin-bottom: 5px;
}
.banner__text{
  margin-bottom: 15px;
}
.banner__text p{
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}


/* === pay ===*/
.pay{}
.pay__form{
  margin-left: 46px;
}
.pay__form-price{
  margin-bottom: 10px;
}
.pay__form-price input{
  width: 225px;
  height: 40px;
  padding-left: 12px;
  background: #FFFFFF;
  border: 1px solid #CECFCF;
  box-sizing: border-box;
  border-radius: 3px;
  font-weight: 300;
  font-size: 14px;
  color: #444;
}
.pay__form-price input:focus{
  padding-left: 12px;
  border: 1px solid #2F99CC;
}
.pay__form-price input:focus::placeholder{
  opacity: 0;
}
.pay__form-radio{
  display: flex;
  align-items: center;
}
.pay__form-radio:not(:last-child){
  margin-bottom: 10px;
}
.pay__form-radio-label{
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.pay__form-radio-label span{}
.pay__form-radio-label input{
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  background-image: url('../images/svg/unchecked-radio.svg');
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.pay__form-radio-label input:checked{
  background-image: url('../images/svg/checked-radio.svg');
}

.pay__form-radio-label input:not(:checked):hover{
  background-image: url('../images/svg/hover-radio.svg');
}
.pay__form-checkbox{}
.pay__form-checkbox-label{
  display: flex;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}
.pay__form-checkbox-label input{
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  background-image: url('../images/svg/unchecked-checkbox.svg');
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.pay__form-checkbox-label input:checked{
  background-image: url('../images/svg/checked-checkbox.svg');
}
.pay__form-checkbox-label input:not(:checked):hover{
  background-image: url('../images/svg/hover-checkbox.svg');
}
.pay__form-checkbox-label span{
  font-weight: 300;
  font-size: 12px;
  color: #999999;
}
.pay__form-button{
  display: flex;
  align-items: center;
  margin-top: 20px; 
}
.settings__payer-button-pay{
  margin-left: auto;
}
.settings__payer-button-account{
 
}
.settings__payer-button--bind{
  display: inline-block;
}
.download__account{
  font-weight: 300;
  font-size: 14px;
  color: #2F99CC;
  border-bottom: 1px solid rgba(47,153,204, .5);

  margin-left: 10px;
  position: relative;
  background: none;
}
.download__account:hover{
  border-bottom: 1px solid rgba(47,153,204, 0);
}
.download__account::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  right:-13px;
  background-image: url('../images/svg/link-arrow.svg');
  background-repeat: no-repeat;
  width: 9px;
  height: 15px;
}
/* === modal-delete === */

.modal__delete{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal__delete--show{
  display: flex;
}
.modal__delete-wrap{
  position: relative;
  width: 750px;
  height: 145px;
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding-top: 17px;
  margin: auto;
}
.modal__delete-close{
  position: absolute;
  right: 17px;
  cursor: pointer;
}
.modal__delete-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 434px;
  height: 38px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}
.modal__delete-question{
  font-weight: 300;
  font-size: 14px;
  line-height: 143px;
  color: #444444;
}
.modal__buttons{
  display: flex;
  justify-content: space-between;
  width: 145px;
  margin: auto;
}
.modal__btn-yes{
  width: 48px;
  height: 40px;
  border: 1px solid #CECFCF;
  border-radius: 3px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  background: none;
}
.modal__btn-yes:hover{
  border: 1px solid #2F99CC;
  color: #2F99CC;
}
.modal__btn-yes:active{
  border: 1px solid #2A6496;
  color:  #2A6496;
}
.modal__btn-cancel{
  width: 82px;
  height: 40px;
  border: 1px solid #CECFCF;
  border-radius: 3px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  background: none;
}
.modal__btn-cancel:hover{
  border: 1px solid #2F99CC;
  color: #2F99CC;
}
.modal__btn-cancel:active{
  border: 1px solid #2A6496;
  color:  #2A6496;
}

/* === modal-moderator === */

.modal__moderator{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);

  justify-content: center;
  align-items: center;
  display: none;
  z-index: 999;
}
.modal__moderator--show{
  display: flex;
}
.modal__moderator-wrap{
  position: relative;
  width: 750px;
  height: 130px;
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding-top: 17px;
  margin: auto;
}
.modal__moderator-close{
  position: absolute;
  right: 17px;
  cursor: pointer;
}
.modal__moderator-text{
  width: 520px;
  margin: auto;
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #444444;
  margin-top: 20px;
}
.modal-email{
  cursor: pointer;
  color: #2F99CC;
  border-bottom: 1px dashed rgba(47,153,204, .5);
}
.modal-email:hover{
  border-bottom: 1px solid #fff;
}

.custom__select{
  padding-right: 13px;
  margin-left: 2px;
  color: #2F99CC;
  cursor: pointer;
  position: relative;
}

.custom__select-admin{
  padding-right: 26px;
}
.custom__select-title{
  position: relative;
  font-size: 14px;
}

.custom__select-title::before{
  content: '';
  position: absolute;
  right: -15px;
  top: 2px;
  background-image: url('../images/svg/select-arrow.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 17px;
  height: 15px;
}
.custom__select-title--active::before{
  transform: rotate(180deg);
}

.custom__select-content{
  border: 1px solid #2F99CC;
  outline: none;
  position: absolute;
  background-color: #fff;
  min-width: 250px ;
  bottom: -123px;
  left: 0;
  z-index: 9;
  border-radius: 0px 0px 3px 3px;
}
.custom__select-content-admin{
  bottom: -84px;
  min-width: 185px;
}
.custom__select-content-search{
  min-width: 215px;
}
.custom__select-content-accounting{
  bottom: -84px;
  min-width: 125px;
}

.custom__select-content-time{
  border: none!important;
  border: 1px solid #2F99CC!important;
  box-sizing: border-box;
  border-radius: 0px 0px 3px 3px;
  padding: 0px 0px;
  bottom: 2px;
  transform: translateY(101%);
  height: 258px;
  overflow: auto;
}
.custom__select-content-hour{
  min-width: 70px;
}
.custom__select-title{
  border-bottom: 1px dashed rgba(47,153,204, .5);
}
.custom__select-title:hover{
  border-bottom: 1px dashed rgba(47,153,204, 0);
}
.custom__select-text{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.custom__select-text:hover{
  color: #fff;
  background-color: #2F99CC;
}

.custom__select-text-time{
  padding: 9px 16px;
}


.custom__select-text-time:hover{
  color: #fff;
  background-color: #2F99CC;
}

.custom__select-text--active{
  color: #2F99CC;
}

.timezone__input-change::before{
  content: '';
  position: absolute;
  top: 49%;
  right: -23px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('../images/svg/pencil.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
