.hide{
  display: none;
}
.statistics__title{
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
    color: #444444;
    padding-bottom: 10px;
}
.statistics__links{
    display: flex;
    justify-content: space-between;
    width: 490px;
}
.statistics__link{
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 143%;
    color: #444444;
    border-bottom: 1px dashed rgba(47,153,204, .5);
}
.statistics__link:hover{
    border-bottom: 1px solid #fff;  
}
.statistics__link--blue{
    color:  #2F99CC;
}
.statistics__link--blue:hover{
    border-bottom: 1px solid #fff;  
}
.statistics__link--none{
    border-bottom: none;
}
.statistics__choose-link{
    font-family: MuseoSansCyrl;
    display: flex;
    margin-bottom: 10px;
  }
  .statistics__choose-link-item{
    font-weight: 300;
    font-size: 14px;
    line-height: 143%;
    color: #444444;
    position: relative;
    cursor: pointer;
  }
  .statistics__choose-link-item p{
    border-bottom: 1px dashed rgba(47,153,204, .5);
  }
  .statistics__choose-link-item p:hover{
    border-bottom: 1px solid #fff;
  }
  .statistics__choose-link-item:not(:last-child){
    margin-right: 25px;
  }
  .statistics__choose-link-item::before{
    content: '';
    position: absolute;
    right:-20px;
    top:45%;
    transform: translateY(-50%);
    background-image: url('../images/svg/pencil.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 15px;
    height: 15px;
  }
  .statistics__choose{
    font-weight: 300;
    font-size: 14px;
    line-height: 143%;    
    color: #999999;
  }
.statistics__wrap{
    display: flex;
    justify-content: space-between;
}
.statistics__download{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
.statistics__download-title{
    font-weight: 300;
    font-size: 14px;
    line-height: 143%;
    color: #444444;
}
.statistics__transition{
  padding: 25px;
  border: 1px solid #CECFCF;
  border-radius: 3px;
  margin-top: 20px;
  
}

.transition__table{}
.transition__headline{
  display: flex;
  align-items: center;
  height: 36px;
  background: rgba(47, 153, 204, 0.15);
  border-radius: 3px 3px 0px 0px; 
  padding: 0px 12px;
}
.transition__item{
  display: flex;
  align-items: center;
  height: 42px;
  padding: 0px 12px;
  border: 1px solid rgba(255,255,255,0);
  border-bottom: 1px solid #F2F2F2;
  border-radius: 3px;
  
}
.transition__item:hover{
  border: 1px solid rgba(47, 153, 204, 0.25);
  box-shadow: 0px 4px 4px rgba(47, 153, 204, .1);
}

.transition__text{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
.transition__text--bold{
  font-family: MuseoSansCyrl;
  font-weight: 500;
}
.transition__text-company{
  width: 190px;
}
.transition__text-period{
  width: 216px;
}
.transition__text-click{
  width: 108px;
}
.transition__text-view{
  width: 120px;
}
.transition__text-ctr{
  width: 110px;
}
.transition__text-expenses{
  width: 191px;
}
.statistics__trigger{
  cursor: pointer;
  position: relative;
}
.statistics__trigger-arrow{
  margin-left: 6px;
  margin-bottom: 1px;
}
.statistics__trigger-arrow--active{
  transform: rotate(180deg);
}
.statistics__more-arrow{
  margin-left: 6px;
}
.statistics__more-arrow--active{
  transform: rotate(180deg);
}

.statistics__clicks-title{
  font-family: MuseoSansCyrl;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #444444;
  padding-top: 10px;
  padding-bottom: 10px;
}
.transition__text-date{
  width: 179px;
}
.transition__text-mark{
  width: 182px;
}
.transition__text-city{
  width: 184px;
}
.transition__text-companies{
  width: 146px;
}
.transition__text-blue{
  text-decoration-line: underline;
  color: #2F99CC;
}
.transition__text-more{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.transition__more{
  border-bottom: 1px solid #F2F2F2;
}
.statistics__more{
  cursor: pointer;
}

