.admin__search{
    display: flex;
    width: 544px;
    justify-content: space-between;
    align-items: center;
}
.admin__search-title{
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    display: flex;
    align-items: center;
}
.admin__search-title span{
    border-bottom: 1px dashed rgba(47,153,204, .5);
}


.admin__search-title--choose{
    color: #2F99CC;
}
.admin__search-img{
    margin-left: 3px;
    margin-bottom: 1px;
}
.statistics__search{
    position: relative;
}
.search__field-statistics{
    width: 288px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #2F99CC;
    border-radius: 3px;
    padding-left: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}
.icon-search-statistics{
    position: absolute;
    top: 19%;
    right: 3%;
}

/* card */

.admin__card{
    border: 1px solid #CECFCF;
    border-radius: 3px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
}
.admin__card-content{
    display: flex;
}
.admin__card-title{
    font-family: MuseoSansCyrl;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
    padding-right: 502px;
}
.admin__card-sum{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #444444;
    padding-right: 50px;
}
.admin__card-switch{
    display: flex;
    align-items: center;
    width: 160px;
    justify-content: space-between;
}
.admin__card-switch-title{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #444444;
}
.admin__card-switch-label{
    position: relative;
    background: #4CAE4C;
    border-radius: 16px;
    box-sizing: border-box;
    display: inline-block;
    height: 22px;
    width: 44px;
    position: relative;
    cursor: pointer;
    transition: all .1s ease-in;
}
.admin__card-switch-handle{
    position: absolute;
    top: 50%;
    transform: translate(125%,-50%);
    background-color: #fff;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    box-shadow: 0px 2px 4px rgba(0, 35, 11, 0.2);
    transition: all .1s ease-in;
}
.admin__card-switch-handle--active{
    transform: translate(20%, -50%);
}
.admin__card-switch-label--active{
    background: rgba(208, 45, 66, .2);
}

label input{
    -webkit-appearance: none;
}

.admin__card-wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.admin__card-contacts-data{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    padding-bottom: 10px;
}
.admin__card-contacts--blue{
    cursor: pointer;
    margin-right: 5px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #2F99CC;
    border-bottom: 1px solid rgba(47,153,204, .5);
}
.admin__card-contacts--blue:hover{
    border-bottom: 1px solid #fff;
}
.admin__card-account{
    display: flex;
}
.admin__card-account-pay{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    margin-right: 5px;
}
.admin__card-search{
    display: flex;
    align-items: center;
}
.admin__card-search-item{
    height: 20px;
    position: relative;
    width: 136px;
    margin-right: 20px;
}
.admin__card-search-input{
    border-bottom: 1px dashed rgba(47,153,204, .5);
    outline: none;
}
.admin__card-search-input::placeholder{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}
  .admin__card-search-item::before{
    content: '';
    position: absolute;
    right:0px;
    top:48%;
    transform: translateY(-50%);
    background-image: url('../images/svg/small-search.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 12px;
    height: 12px;
  }
.admin__table-titles{
    background: rgba(47, 153, 204, 0.15);
    border-radius: 3px 3px 0px 0px;
    width: 518px;
    height: 36px;
    padding: 8px 10.5px;
    display: flex;
}
.admin__table-title{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}
.admin__table-title-date{
    width: 129px;
}
.admin__table-title-click{
    width: 90px;
}
.admin__table-title-show{
    width: 97px;
}
.admin__table-title-ctr{
    width: 95px;
}
.admin__table-subtitles{
    padding: 12px 10.5px;
    display: flex;
}

.admin__card-nav{
    margin-top:10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.admin__nav-item{
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}
.admin__nav-icon{
    cursor: pointer;
    position: relative;
}
.admin__nav-info{
    position: absolute;
    top:-43px;
    left: -20px;
    width: 149px;
    padding: 8px 11px;
    background: #FFFFFF;
    border: 1px solid #CECFCF;
    border-radius: 3px;
    box-shadow: 0px 12px 12px rgba(68, 68, 68, 0.08), 0px 16px 24px rgba(68, 68, 68, 0.08);
    z-index: 1;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
    display: none;
  }
  .admin__nav-info-repeat{
    width: 208px;
    left: -30px;
  }
  .admin__nav-info-cancel{
    width: 162px;
    left: -22px;
  }
  .admin__nav-info-know{
    width: 129px;
    left: -17px;
  }
  .admin__nav-info::before{
    content: '';
    position: absolute;
    left: 16%;
    bottom: 0%;
    transform: translate(0%, 55%) rotate(45deg);
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #CECFCF;
    border-right: 1px solid #CECFCF;
    background-color: #fff;
  }
.admin__nav-icon:hover .admin__nav-info{
    display: block;
  }
.admin__nav-title{
    padding-left: 8px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}
.transition__more--admin{
    padding: 0;
    border-bottom: none;
}

.admin__info{
    position: absolute;
    top: 5px;
    width: 149px;
    padding: 8px 11px;
    border: 1px solid #CECFCF;
    border-radius: 3px;
    box-shadow: 0px 12px 12px rgba(68, 68, 68, 0.08), 0px 16px 24px rgba(68, 68, 68, 0.08);
    z-index: 1;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #444444;

  }

  .admin-cancel{
    position: relative;
  }
  .admin-cancel__btn{
    min-width: 315px;
  }
 

  .admin-wrapper{
    padding: 24px;
    border: 1px solid #CECFCF !important;
  }

  .admin-banner__wrapper{
      margin-bottom: 10px;
  }
  .admin-banner__title{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #444444;
  }
  .admin-banner__text{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
  }
  .admin-banner__show{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    background: none;
    padding: 10px 15px;
    border: 1px solid #CECFCF;
    border-radius: 3px;
    margin-left: 10px;
  }

  .admin-banner__show:hover{
    border: 1px solid #999;
  }
  
  .admin-banner__show:active{
    border: 1px solid #CECFCF;
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.13);
  }

  .admin-statistics__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #444444;
  }

  .admin-controls{
   display: flex;
   justify-content: flex-end;
  }
  .admin-controls-wrapper{
    min-width: 280px;
    display: inline-block;
  }
  .admin-controls__btn{
    border: 1px solid #CECFCF;
    box-sizing: border-box;
    border-radius: 3px;
    
    position: relative;
    display: flex;
    align-items: center;
  }
 
  .button-cancel{
    background: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    padding: 10px 7px 10px 44px;
  }
  .admin-controls__save{
      display: inline-block;
      position: relative;
      margin-left: 15px;
  }